<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
			xmlns="http://java.sun.com/xml/ns/javaee" 
			xsi:schemaLocation="http://java.sun.com/xml/ns/javaee; http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
			id="WebApp_ID" version="2.5">
			
  <display-name>Cargo Group</display-name>
  
	<session-config>
		<session-timeout>30</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>	
  	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
  <servlet>
  <servlet-name>Controller</servlet-name>
  <servlet-class>by.epamtc.kalimylin.controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Controller</servlet-name>
  <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ThrowableHandler</servlet-name>
    <servlet-class>by.epamtc.kalimylin.controller.util.handler.ThrowableHelper</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThrowableHandler</servlet-name>
    <url-pattern>/exception</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>by.epamtc.kalimylin.controller.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
    <filter-name>AuthorizationFilter</filter-name>
    <filter-class>by.epamtc.kalimylin.controller.filter.AuthorizationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
	 <filter-name>CSPFilter</filter-name>
	 <filter-class>by.epamtc.kalimylin.controller.filter.CSPFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>CSPFilter</filter-name>
  	 <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
	 <filter-name>XSSFilter</filter-name>
	 <filter-class>by.epamtc.kalimylin.controller.filter.XSSFilter</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>XSSFilter</filter-name>
  	 <url-pattern>/*</url-pattern>
  </filter-mapping>
    
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error/404.jsp</location>
  </error-page>

  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/jsp/error/500.jsp</location>
  </error-page>

  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/exception</location>
  </error-page>
  
   <jsp-config>
    <taglib>
      <taglib-uri>http://localhost:8080/cargo_group/mytag</taglib-uri>
      <taglib-location>/WEB-INF/tld/taglib.tld</taglib-location>
    </taglib>
  </jsp-config>
</web-app>
